body {
    margin: 0;
    padding: 0;

    background-image: url(/static/galaxy.jpeg);
    background-color:rgb(52, 58, 64);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Noto Sans', sans-serif;
    color: #f1f3f5;

    display: flex;
    justify-content: center;
}

header {
    top: 0;

    box-sizing: border-box;

    width: 100%;

    padding: 1em 2em 1em 2em;

    position: fixed;
    z-index: 1;

    background-color: rgba(52, 58, 64, 0.8);
    backdrop-filter: blur(1em);

    display: flex;
}

main {
    width: 52em;

    padding: 1em 2em 1em 2em;

    margin-top: 12em;
    margin-bottom: 12em;

    background-color: rgba(52, 58, 64, 0.8);
    backdrop-filter: blur(1em);

    border-radius: 2em;
}

h1 {
    margin-bottom: 0.25em;
}

h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: #3bc9db;
}

time {
    color: #ced4da;
}

nav a {
    height: 3.5em;
}

nav p {
    font-size: 0.75em;

    text-align: center;
}

nav p a {
    text-decoration: none;
}

header nav {
    height: 3.5em;
}

header img {
    width: 3.5em;
    height: 3.5em;

    border-radius: 3.5em;

    transition: box-shadow 0.25s ease-in-out;
}

header img:hover {
    box-shadow: 0 0 1em rgba(33, 37, 41, 0.8);
}

.article {
    text-decoration: none;
    color: #f1f3f5 !important;
}