<!doctype html>
<html lang="en">
    <head>
        <!-- Primary Meta Tags -->
        <title>{{ article.title }} | blog.aizakku.dev</title>
        <meta name="title" content="{{ article.title }} | blog.aizakku.dev">
        <meta name="description" content="{{ article.description }}">
        <meta name="robots" content="index"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://blog.aizakku.dev/">
        <meta property="og:title" content="{{ article.title }} | blog.aizakku.dev">
        <meta property="og:description" content="{{ article.description }}">

        <!-- Twitter -->
        <meta property="twitter:url" content="https://blog.aizakku.dev/">
        <meta property="twitter:title" content="{{ article.title }} | blog.aizakku.dev">
        <meta property="twitter:description" content="{{ article.description }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <img id="logo" src="/static/logo.webp" alt="Logo">
            <div class="title-container">
                <p class="title">{{ article.title }}</p>
            </div>
        </header>
        <main>
            <h1 class="heading">{{ article.title }}</h1>
            <time id="time">{{ formatted_time }}</time>
            <hr>
            {{ article.content|safe }}
        </main>
    </body>
</html>