<!doctype html>
<html lang="en">
    <head>
        <!-- Primary Meta Tags -->
        <title>blog.aizakku.dev</title>
        <meta name="title" content="blog.aizakku.dev">
        <meta name="description" content="aizakku's blog">
        <meta name="robots" content="index"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://blog.aizakku.dev/">
        <meta property="og:title" content="blog.aizakku.dev">
        <meta property="og:description" content="aizakku's blog">

        <!-- Twitter -->
        <meta property="twitter:url" content="https://blog.aizakku.dev/">
        <meta property="twitter:title" content="blog.aizakku.dev">
        <meta property="twitter:description" content="aizakku's blog">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <img src="/static/logo.webp" alt="Logo">
                </a>
            </nav>
            <p>aizakku's blog</p>
        </header>
        <main>
            {% for article in articles %}
            <a href="/{{ article.code }}" class="article">
                <h1>{{ article.title }}</h1>
                <time>{{ article.time }}</time>
                <hr>
            </a>
            {% endfor %}
            <nav>
                <p>
                    <a href="https://aizakku.dev">Home</a>・<a href="https://s.aizakku.dev">Link Shortener</a>
                </p>
            </nav>
        </main>
    </body>
</html>